.form {
    top: 0%;
    left: 0%;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.form.closed_form {
    opacity: 0;
    visibility: hidden; 
}

.form.opened_form {
    display: flex;
    opacity: 1;
    visibility: visible;
}
.form_close_button {
    position: absolute;
    background: url('../assets/images/form/close_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: min(3.13vw, 60px);
    top: min(3.13vw, 50px);
    width: min(7.22vw, 26px);
    height: min(7.22vw, 26px);
    z-index: 99;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: inline-block;
}
/* По умолчанию placeholder скрыт */
.form_input::placeholder {
    visibility: hidden;
}

/* Когда у form_name есть класс form-active, показываем placeholder */
.form_name.form-active+.form_input::placeholder {
    visibility: visible;
}
.form_close_button:hover {
    transform: rotate(90deg);
}
.form_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_item_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(2.55vw, 49px);
    margin-bottom: min(2.6vw, 50px);
}
.form_title {
    text-align: center;
    font-size: min(2.71vw, 52px);
    font-family: Proxima Nova Regular;
    text-transform: uppercase;
    margin-bottom: min(4.17vw, 80px);
}
.form_text {
    font-size: min(0.73vw, 14px);
    text-align: center;
    font-family: Proxima Nova Regular;
    margin-bottom: min(1.56vw, 30px);
    opacity: .4;
}

.form_item {
    position: relative;
    display: flex;
    width: 100%;
    gap: 1vw;
}
.form_item::after {
    position: absolute;
    display: block;
    width: 100%;
    content: '';
    bottom: -60%;
    left: 0;
    height: 1px;
    background-color: #000;
    opacity: .2;
}
.form_item input:focus {
    outline: none;
}
.form_item input {
    width: 100%;
    border: none;
    font-size: min(0.89vw, 17px);
    font-family: Proxima Nova Regular;
    cursor: text;
}

.form_name {
    font-size: min(0.89vw, 17px);
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: Proxima Nova Regular;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translateY(-50%);
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.form_name.form-active {
    top: -100%;
    font-size: 8.5px;
}

.form_name.form-fill {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 
.send_button {
    background-color: #2F80ED;
    width: min(12.19vw, 234px);
    height: min(3.28vw, 63px);
    font-size: min(0.78vw, 15px);
    color: #fff;
    border-radius: min(5.21vw, 100px);
    font-family: Proxima Nova Semibold;
}
.send_button {
    background-color: #2F80ED;
    width: min(12.19vw, 234px);
    height: min(3.28vw, 63px);
    font-size: min(0.78vw, 15px);
    color: #fff;
    border-radius: min(5.21vw, 100px);
    font-family: 'Proxima Nova Semibold';
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.send_button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(47, 128, 237, 0.4);
}
@media (min-width: 1440px) {
    .about-form_inner {
        width: min(30.57vw, 587px);
        height: min(27.19vw, 522px);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .form_title {
        font-size: min(2.78vw, 40px);
    }
    .form_item_wrapper {
        gap: min(3.13vw, 45px);
    }
    .form_name, .form_item input {
        font-size: min(1.11vw, 16px);
    }
    .form_text {
        font-size: min(0.83vw, 12px);
        margin-bottom: min(3.47vw, 50px);
        margin-bottom: min(2.08vw, 30px);
    }
    .send_button {
        width: min(15.83vw, 228px);
        height: min(4.31vw, 62px);
        font-size: min(0.97vw, 14px);
    }
    .form_close_button {
        top: min(4.17vw, 60px);
        right: min(4.17vw, 60px);
        width: min(1.81vw, 26px);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .form_title {
        font-size: min(2.73vw, 28px);
    }
    .form_item_wrapper {
        gap: min(4.39vw, 45px);
    }
    .form_name, .form_item input {
        font-size: min(1.37vw, 14px);
    }
    
    .form_text {
        font-size: min(1.07vw, 11px);
        margin-top: min(4.88vw, 50px);
        margin-bottom: min(2.93vw, 30px);
    }
    .send_button {
        width: min(16.6vw, 170px);
        height: min(5.27vw, 54px);
        font-size: min(1.37vw, 14px);
    }
    .form_close_button {
        width: min(2.54vw, 26px);
        height: min(2.54vw, 26px);
        top: min(4.88vw, 50px);
        right: min(4.88vw, 50px);
    }
}
@media (min-width: 361px) and (max-width: 768px) {
    .form_title {
        font-size: min(3.65vw, 28px);
    }
    .form_item_wrapper {
        gap: min(5.86vw, 45px);
    }
    .form_name, .form_item input {
        font-size: min(1.82vw, 14px);
    }
    .form_text {
        font-size: min(1.43vw, 11px);
        margin-top: min(6.51vw, 50px);
        margin-bottom: min(3.91vw, 30px);
    }
    .send_button {
        width: min(22.14vw, 170px);
        height: min(7.03vw, 54px);
        font-size: min(1.82vw, 14px);
    }
    .form_close_button {
        width: min(3.39vw, 26px);
        height: min(3.39vw, 26px);
        top: min(5.21vw, 40px);
        right: min(5.21vw, 40px);
    }
}

@media (max-width: 360px) {
    .form_title {
        font-size: min(5.56vw, 20px);
        width: 100%;
        text-align: left;
        padding-left: min(2.78vw, 10px);
    }
    .form_inner {
        width: min(88.89vw, 320px);
    }
    .form_item_wrapper {
        gap: min(11.39vw, 41px);
    }

    .form_name, .form_item input {
        font-size: min(3.06vw, 11px);
    }

    .form_text {
        font-size: min(3.33vw, 12px);
        margin-top: min(6.51vw, 50px);
        margin-bottom: min(3.91vw, 30px);
    }

    .send_button {
        width: min(47.22vw, 170px);
        height: min(13.06vw, 47px);
        font-size: min(3.06vw, 11px);
    }
    .form_close_button {
        width: min(7.22vw, 26px);
        height: min(7.22vw, 26px);
        top: min(5.56vw, 20px);
        right: min(5.56vw, 20px);
    }   
}