.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}
.loader-rect {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    overflow: hidden;
}

.loader-rect:after {
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
}

.loader-rect:before {
    content: '';
    position: absolute;
    inset: -15px;
    margin: auto;
    background: #2F80ED;
    animation: diamondLoader 2s linear infinite;
}

#content {
    opacity: 0;
    /* Начальная непрозрачность контента */
    transition: opacity 1s ease-in;
    /* Плавное появление контента */
}

/* Когда контент отображается */
#content.show {
    opacity: 1
}
body.loading {
    overflow: hidden;
}
@keyframes diamondLoader {

    0%,
    10% {
        transform: translate(-64px, -64px) rotate(-45deg)
    }

    90%,
    100% {
        transform: translate(0px, 0px) rotate(-45deg)
    }
}

/* Анимация вращения */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
